name: Check PR title

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          requireScope: false
          subjectPattern: '^\\[[A-Z]+-[0-9]+\\] .+'
          subjectPatternError: >
            Pull request title must start with a Jira issue key.
            Example: [VR-12] Add audience reaction system
